@keyframes slide-in {
  0% { 
    transform: translateX(var(--w));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% { 
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--w));
  }
}
